<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A New Bookmarks</title>
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Roboto&display=swap" rel="stylesheet">
      <style>
        body {
          font-family: 'Roboto', sans-serif;
          font-family: 'Big Shoulders Text', cursive;
          font-size: 24px;
        }
      </style>
  </head>
  <body>
    <div align="center" class="faveWebsites">
      <h1>ADD YOUR FAVOURITE WEBSITES HERE</h1>
      <h4><label for="addNewBookmark">Add a new bookmark</label></h4>
          <!-- Form Code goes here -->
      <form class="newBookmarks" action="/bookmarks" method="post">
        <input type="text" name="url" placeholder="URL" />
        <input type="text" name="title" placeholder="Title" />
        <input type="submit" value="Submit" />
      </form>
          <!-- Form Code ends here -->
    </div>

  </body>
</html>
