<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A New Bookmarks</title>
  </head>
  <body>
    <h4><label for="addNewBookmark">Add a new bookmark</label></h4>
    <form class="newBookmarks" action="/bookmarks" method="post">
      <input type="text" name="url" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
